.buttonRun {
    background-color: #00B493;
    border: none;
    color: white;
    padding: 1px 30px;
    text-align: center;
    // text-decoration: none;
    // display: inline-block;
    font-size: 15px;
    // border-radius: 4px;
}

.buttonRun:hover {
    color: red;
}